.termNav{
    color: white;
    display: flex;
    list-style-type: none;
    gap: 1%;
    justify-content: center;
    
    background-color: black;
}

.termNav li{
    cursor: pointer;
    padding: 5px;
}

.termNav li:hover{
    background-color: grey;
}

.termNav .active{
    pointer-events: none;
    color: red;
}